<h1>Here is a list all users</h1>
<div class='user-info'>
  <% @users.each do |user| %>
    <div class='user-top'>
      <img class='profile-img' alt='Profile'/>
      <div>
        <h1 class='username'><%= link_to user.name, controller: 'users', id: user, action: 'show' %> </h1>
        <p>Number of posts: <%= user.post_counter%></p>
      </div>
    </div>
  <%end %>
<div>